name = "curenium-chat"
main = "worker/index.ts"
compatibility_date = "2024-10-20"
account_id = "c6a775d7beaa8147a1be220aa3b49d30"
compatibility_flags = ["nodejs_compat"]

[build]
command = "npm run build"

[durable_objects]
bindings = [
  { name = "CHAT_ROOM", class_name = "ChatRoom" }
]

[[migrations]]
tag = "v1"
new_classes = ["ChatRoom"]