name = "curenium-chat"
main = "worker/index.ts"
compatibility_date = "2024-10-20"
account_id = "c6a775d7beaa8147a1be220aa3b49d30"
compatibility_flags = ["nodejs_compat"]

workers_dev = true

[build]
command = "npm run build"

[durable_objects]
bindings = [
  { name = "CHAT_ROOM", class_name = "ChatRoom" },
  { name = "NOTIFICATIONS_ROOM", class_name = "NotificationRoom" }
]

[[migrations]]
tag = "v1"
new_sqlite_classes = ["ChatRoom"]

[[migrations]]
tag = "v2"
new_sqlite_classes = ["NotificationRoom"]

[vars]
MONGODB_URI="mongodb+srv://almussanplanner12_db_user:Mplannorium%40020525@cluster0.laurh2a.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"
NEXTAUTH_SECRET="58vZ7T4yt8zZSiTJAgZZnoGWWFNgCFp1tgA/nY/jr5U="
WORKER_INTERNAL_AUTH_KEY = "58vZ7T4yt8zZSiTJAgZZnoGWwFNgCFp1tgA/nY/jr5U="