name = "curenium-chat"
main = "index.ts"
compatibility_date = "2024-03-14"

workers_dev = true
compatibility_flags = ["nodejs_compat"]

[durable_objects]
bindings = [
  { name = "CHAT_ROOM", class_name = "ChatRoom" }
]

[[migrations]]
tag = "v1"
new_classes = ["ChatRoom"]